@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --heading:#48556A; 
    --para:#6E8098;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


html,body{
    width: 100%;
    height: 100vh;background: linear-gradient(to right,gray ,rgb(241, 241, 241));
}

main{
    width: 730px;
    height: 280px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img{
    width: 40%;
    height: 100%;
    float: left;
}
.img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}


.content{
    width: 60%;
    height: 100%;
    float: right;
    background-color: #ffff;
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
}

::selection{
    background-color: #9DAEC2;
    color: #48556A;
}

.heading{
    width: 100%;
    height: 40%;
}

.heading>h1{
    font-size: 20px;font-weight: 900;
    color: #48556A;
}
.para{
    width: 100%;
    height: 40%;
}
.para >p{
    font-size: 13px;
    padding-top: 10px;
    color: #6E8098;
}

.media{
    width: 100%;
    height: 20%;
    display: flex;
    position: relative;
}

.media > .dp{
    width: 12%;
    height: 100%;
}
.dp >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.media> .info{
    width: 72%;
    height: 100%;
    margin-left: 15px;
}

.info>p{
    font-weight: bold;
    color: #48556A;
}
.info>p+p{
    font-weight: 200;
    font-size: 13px;
    color: #9DAEC2;
}

.media > .share{
    width: 12%;
    height: 100%;
    border-radius: 50%;
    background-color: #e0dfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share:hover .sharesvg{
    fill:  #e0dfdf;
}

.share:hover{
    background-color: #48556A;
    transition: background 1s;
}
.share>img{
    width: 35%;
    height: 35%;
    object-fit: cover;
}
/* .share:hover{
    background-color: #6E8098;
} */

.media .inside{
    position: absolute;
    display: flex;
    top: -60px;
    right:-80px;
    visibility: hidden;
    border-radius: 10px;
    height: 50px;
    width: 220px;
    background-color: #48556A;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.inside::before{
    content: '';
    position: absolute;
    /* top: 45px; */
    bottom: -23px;
    left: 103px;

    /* display: block; */
    border: 15px solid ;
    border-color: #48556A transparent transparent;

}


.inside .inPara{
    width: 50%;
    text-align: right;
    margin-right: 10px;
    font-size: 13px;
    color: #9DAEC2;
}
.inside > .inBlock{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-right: 10px;
}
/* .inBlock >div{
    width: 100%;
} */

.inBlock a svg{
    font-size: 1.7rem;
    margin: auto 0.4rem;
}


@media (min-width:500px) and (max-width:900px){
    main{
        width: 327px;
        height: 512px;
    }
    .img{
        width: 100%;
        height: 40%;
    }
    .img>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    
    
    .content{
        width: 100%;
        height: 60%;
        background-color: #ffff;
        border-radius: 0 0px 10px 10px;
        padding: 30px 35px;
    }
    .heading{
        height: 40%;
    }
    .para{
        height: 40%;
        margin-bottom: 20px;
        margin-top: -10px;
    }
    .media{
        height: 20%;
    }
    .heading h1{
        font-size: 16px;

    }
    .para p{
        font-size: 13px;
    }

    .media{
        font-size: 13px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .media .dp,.share{
        height: 90%;
        width: 20%;
    }
    .info{
        padding-top: 5px;
    }
    .media .share{
        height: 73%;
        width: 15%;
        z-index: 10;
    }

    .media .inside{
        z-index: 1;
        position: absolute;
        top: 0px;
        right: inherit;
        display: flex;
        visibility: hidden;
        border-radius:0 0 10px 10px;
        height: 64px;
        width: 327px;
        background-color: #48556A;
        justify-content: space-evenly ;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 6px;
        overflow: hidden;
    }

    .inside .inPara{
        width: 20%;
    }
    .inside .inBlock{
        width: 30%;
        padding-right: 100px;
    }




}

